{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "./src"
        },
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ],
    ["babel-plugin-styled-components"]
  ]
}
