{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@src": "./src",
          "@components": "./src/components",
          "@public": "./public"
        },
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "./src"
        },
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ]
  ]
}
